<?xml version="1.0"?>
<!--
/**
 * @author Ktree Team
 * @copyright Copyright (c) 2015 Ktree (http://www.ktree.com)
 * @package Ktree_Zoom
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="ktree_zoom" frontName="ktree_zoom">
            <module name="Ktree_Zoom" />
        </route>
    </router>
</config>
